---
services:
    php:
        build:
            context: ./api
            dockerfile: Dockerfile
        image: ${IMAGES_PREFIX:-}app-php
        restart: unless-stopped
        environment:
            SERVER_NAME: ${SERVER_NAME:-localhost}, php:80
            DEFAULT_URI: https://${SERVER_NAME:-localhost}:${HTTPS_PORT:-443}
            # Run "composer require symfony/orm-pack" to install and configure Doctrine ORM
            DATABASE_URL: postgresql://${POSTGRES_USER:-app}:${POSTGRES_PASSWORD:-!ChangeMe!}@database:5432/${POSTGRES_DB:-app}?serverVersion=${POSTGRES_VERSION:-18}&charset=${POSTGRES_CHARSET:-utf8}
        volumes:
            - caddy_data:/data
            - caddy_config:/config
        ports:
            - name: http
              target: 80
              published: ${HTTP_PORT:-80}
              protocol: tcp
            - name: https
              target: 443
              published: ${HTTPS_PORT:-443}
              protocol: tcp
            - name: http3
              target: 443
              published: ${HTTP3_PORT:-443}
              protocol: udp
    web:
        build:
            context: ./web
            dockerfile: Dockerfile
        image: ${IMAGES_PREFIX:-}app-bun
        restart: unless-stopped
        ports:
            - target: 3000
              published: ${BUN_PORT:-3000}
              protocol: tcp
    ###> doctrine/doctrine-bundle ###
    database:
        image: postgres:${POSTGRES_VERSION:-18}-alpine
        restart: unless-stopped
        environment:
            POSTGRES_DB: ${POSTGRES_DB:-app}
            # You should definitely change the password in production
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
            POSTGRES_USER: ${POSTGRES_USER:-app}
            # Use a folder that is guaranteed to exist inside the mounted volume to
            # avoid mount errors caused by the image's `data -> .` symlink on some
            # filesystems/overlay drivers. See project issue discussion for details.
            PGDATA: /var/lib/postgresql/pgdata
        healthcheck:
            test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
            timeout: 5s
            retries: 5
            start_period: 60s
        volumes:
            - database_data:/var/lib/postgresql:rw
            # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
            # - ./docker/db/data:/var/lib/postgresql:rw
    ###< doctrine/doctrine-bundle ###

volumes:
    caddy_data:
    caddy_config:
    ###> doctrine/doctrine-bundle ###
    database_data:
    ###< doctrine/doctrine-bundle ###
